<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>
          <%= @response.display_name %>
        </h3>
      </div>

      <div class="panel-body">
        Completed
        <%= @response.question_responses_count %>
        of
        <%= Question.count %>
        questions
        <hr/>

        <div>
          <b>Purpose</b>
          <ul>
            <li>Raw score <%= @response.total_raw_score('Purpose') %></li>
            <li>Max score <%= @response.total_max_score('Purpose') %></li>
          </ul>
        </div>
        <div>
          <b>Empowerment</b>
          <ul>
            <li>Raw score <%= @response.total_raw_score('Empowerment') %></li>
            <li>Max score <%= @response.total_max_score('Empowerment') %></li>
          </ul>
        </div>
        <div>
          <b>Collaboration</b>
          <ul>
            <li>Raw score <%= @response.total_raw_score('Collaboration') %></li>
            <li>Max score <%= @response.total_max_score('Collaboration') %></li>
          </ul>
        </div>
      </div>
    </div>

    <hr>

    <% @response.question_responses.each do |question_response| %>
      <%= render 'questions/header', question: question_response.question %>

      <table class="table table-bordered">
        <% question_response.question.question_choices.each do |question_choice| %>
          <tr>
            <td>
              <% if question_choice == question_response.question_choice %>
                <strong>
                  <%= question_choice.text %>
                  <div class="color-<%= question_choice.score > 0 ? 'green' : 'red' %>">
                    <%= question_choice.creative_quality_name %> <%= question_choice.score %>
                  </div>
                </strong>
              <% else %>
                <span class="text-muted">
                  <%= question_choice.text %>
                </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
